@import '../../theme/Colors.scss';

.dashboard-container {
  width: 880px;
  margin: 50px auto;
  box-sizing: border-box;
  min-height: calc(100vh - 210px);

  @media screen and (max-width: 900px) {
    width: 500px;
  }

  .list-card-container {
    @media screen and (min-width: 900px) {
      .profile-card-wrapper-first {
        display: none;
      }
    }

    @media screen and (max-width: 900px) {
      .profile-card-wrapper-last {
        display: none;
      }
    }

    .logo-wrapper {
      position: relative;
      width: 64px;
      height: 64px;
    }

    .title {
      margin-top: 24px;
    }

    .body {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .link {
      margin-top: 24px;
    }

    .link-profile {
      margin-top: 8px;
    }

    .button {
      width: fit-content;
    }

    .avatar {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }
  }
}

@media screen and (max-width: 600px) {
  .dashboard-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    min-height: auto;

    .list-card-container {
      .logo-wrapper {
        position: relative;
        width: 60px;
        height: 60px;
      }

      .title {
        margin-top: 16px;
      }

      .body {
        margin-top: 12px;
        margin-bottom: 12px;
      }

      .avatar {
        width: 60px;
        height: 60px;
      }
    }
  }
}
