$primary: #62ad9e;
$secondary: #79a8d7;
$regalBlue: #1d405c;
$secondary: #ff9277;
$solomie: #ffdd85;
$concrete: #f4f2f1;
$success: #6edd72;
$warning: #ffd685;
$error: #fa6666;
$boxShadow: rgba(0, 0, 0, 0.1);
$borderColor: #e7e7e7;
