.loading-page {
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .circular-progress {
    height: 3rem !important;
    width: 3rem !important;
  }

  .text {
    margin-top: 2rem;
  }
}
